# Data Science Tools and Ecosystem

## Introduction  
This notebook explains the fouundations of data science

## Data Science Languages  
Some of the popular languages for data science include:  
- Python  
- R  
- SQL

## Data Science Libraries  
Here are some widely-used libraries in data science:  
- NumPy  
- Pandas  
- Matplotlib

## Data Science Tools  
| Tool           | Description                            |  
|----------------|----------------------------------------|  
| Jupyter Notebook | An interactive computing environment  | 
| Apache Spark   | Framework for big data processing      |  
| Tableau        | Data visualization software            |

## Arithmetic Expression Examples  
This section demonstrates the use of arithmetic expressions in Python. 

Examples include addition, subtraction, multiplication, and division.

In [16]:
# Multiply and add numbers
result = (3 * 16) + 28
result

76

In [20]:
# Convert minutes to hours
minutes = 480
hours = minutes / 60
hours

8.0

## Objectives  
- Learn about popular data science languages  
- Explore key libraries used in data science  
- Understand various data science tools  
- Practice basic arithmetic operations in Python

## Author  
Jacqueline